/* Whole document: */
body{
  font-size: 11pt;
}
/* Headers */
h1,h2,h3,h4,h5,h6{
  font-size: 22pt;
}
/* SubHeaders */
h2,h3,h4,h5,h6{
  font-size: 18pt;
}
/* SubHeaders */
h3,h4,h5,h6{
  font-size: 15pt;
}